* {
    background-color: blueviolet;
}

h1, h2 {
    background-color: yellow;
    margin-right: 5%;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: yellow;
}

.game-choice-container {
    display: flex;
    flex-direction: row;

    background-color: yellow;

}

.main-content-container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

}

.main-element-container {
    border-style: double;
    background-color: yellowgreen;
    margin-top: 2%;

    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section-container {
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#elementSymbol {
    background-color: yellowgreen;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#atomicMass {
    background-color: yellowgreen;
    font-size: 20px;
    font-weight: 500;
}

#atomicNumber{
    background-color: yellowgreen;
    font-size: 20px;
    font-weight: 500;
}

#elementName {
    background-color: yellowgreen;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#elementDescription {
    margin-top: 2%;

    max-width: 300px;

    font-size: 20px;
}

button {
    background-color: brown;
    font-weight: 400;
}

span {
   
    border-style: double;   
    border: 2px solid black;

    margin-top: 0.5px;
    margin-right: 0;
    margin-bottom: 0.5px;
    margin-left:0;
    

    font-size: 20px;

    height: auto;
    min-height: 25px;
    max-height: 25px;
    width: auto;
    min-width: 25px;
    max-width: 25px;
    text-align: center;

}

.periodic-table {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-style: dotted;
    box-sizing: border-box;

    max-width: 585px;

}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section-one-row-two {
    display: flex;
    justify-content: flex-start;
}

.section-two-row-two {
    display: flex;
    justify-content: flex-end;
}

.row-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-one-row-three {
    display: flex;
    justify-content: flex-start;
}

.section-two-row-three {
    display: flex;
    justify-content: flex-end;
}

.row-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-five {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-six {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-seven {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.space {
    margin-top: 2%;
    margin-bottom: 2%;
}

.row-nine {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-ten {
    display: flex;
    flex-direction: row;
    justify-content: center;
}